{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-8">
        {#{{ dump(post) }}#}
        <article class="blog-post">
            <div class="blog-post-image">
               <img src="{{ post.0.path |imagine_filter('post_image') }}" alt="">
            </div>
            <div class="blog-post-body">
                <h1>{% block title %}{{ post.0.pagetitle }}{% endblock %}</h1>
                <div class="post-meta"><i class="fa fa-clock-o"></i>{{ post.0.createdAt|date }}</div>
                <div class="blog-post-text">
                    {{ post.0.content }}
                </div>
            </div>
        </article>
    </div>
{% endblock %}
