<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="padding-top: 100px;">
    {% block body_all %}
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse row">
                    <ul class="nav navbar-nav col-sm-9">
                        <li><a href="{{ url('homepage') }}">Home</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin_index') }}">Admin zone</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGER') %}
                            <li><a href="{{ path('cabinet_index') }}">Cabinet</a></li>
                        {% endif %}

                        {% if app.user %}
                            <li class="pull-right"><a href="{{ path('logout') }}">Log out</a></li>
                            <li class="pull-right"><span>{{ app.user.username }}</span></li>
                        {% else %}
                            <li class="pull-right"><a href="{{ path('registration') }}">Register</a></li>
                            <li class="pull-right"><a href="{{ path('login') }}">Log in</a></li>
                        {% endif %}
                    </ul>


                    <div class="col-sm-3 col-md-3 pull-right">
                        <form class="navbar-form" role="search" method="GET" action="{{ path('search') }}">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="q" id="srch-term">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <section>
                <div class="row">
                    {% block body %}{% endblock %}
                    <div class="col-md-4 sidebar-gutter">
                        <aside>
                            <div class="sidebar-widget" id="tag_cloud" style="height: 1000px; width: 355px;">
                            </div>
                            {{ popularPosts() }}
                            {{ lastComments() }}
                        </aside>
                    </div>
                </div>
            </section>
        </div><!-- /.container -->
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
            <script type="text/javascript">
                var words = [
                    {{ tagsList() }}
                ];
                $('#tag_cloud').jQCloud(words);
            </script>
        {% endblock %}
    {% endblock %}
    </body>
</html>
